@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,p
pre, form, fieldset, textarea, blockquote, span, * {
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: #4d4c4c;
}
ul, li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: inherit;
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}
@font-face {
    font-family: "Noto";
    src:url("../fonts/NotoSerifKR-Regular.otf");
}

html, body, h1, p{
    margin: 0;
    padding: 0;
}


/* layout */
.fixed{
    position: fixed;
}
.absolute{
    position: absolute;
}
.zindex-100{
    z-index: 100;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.right-240px{
    right: 240px;
}

.right-30px{
    right: 30px;
}

/* *padding */
.padding-11px{
    padding: 11px;
}
.padding22{
    padding: 0 10px 0 10px;
}

.padding-5px{
    padding: 5px;
}

.padding-15-0-0-30{
    padding: 15px 0 0 30px;
}
.padding-top-20px{
    padding-top: 20px;
}
.padding-top-15px{
    padding-top: 15px;
}

/* *margin */
.margin-bottom-80px{
    padding-bottom: 80px;
}
.margin-top-15px{
    margin-top: 15px;
}
.margin-top-8px{
    margin-top: 8px;
}
.margin-top-5px{
    margin-top: 5px;
}
.margin-top-3px{
    margin-top: 3px;
}

.margin-left-15px{
    margin-left: 15px;
}
.margin-left-10px{
    margin-left: 10px;
}
/* display */
.inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}

/* align */
.margin-0-auto{
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

/* style */
.text-deco-none{
    text-decoration: none;
}

/* border */
.border-solid-1px-blue{
    border-radius: 4px;
    border: solid 1px #175ba9;
}
.border-solid-r4-1px{
    border-radius: 4px;
    border: solid 1px #afacac;
}
.border-solid-1px{
    border: solid 1px #e5e5e5;
}
.border-radius-50per{
    border-radius: 50%;
}

/* img */
.object-fit-none{
    object-fit: cover;
}


/* *font */
.lineheight-44px{
    line-height: 44px;
}
.family-noto-sans{
    font-family: 'Noto Sans KR', sans-serif;
}
.bold{
    font-weight: bold;
}
.weigh-600{
    font-weight: 600;
}
.weigh-400{
    font-weight: 400;
}
.font-color-70706f{
    color: #70706f;
}
.font-color-ababab{
    color: #ababab;
}
.font-color-175ba9{
    color: #175ba9;
}
.font-size-22px{
    font-size: 22px;
}
.font-size-16px{
    font-size: 16px;
}

.font-size-14px{
    font-size: 14px;
}
.font-size-12px{
    font-size: 12px;
}
.font-size-11px{
    font-size: 11px;
}



/* action */
.hover-pointer :hover{
    cursor: pointer;
}

/* sef*/
.liner{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.line-color{
    border-bottom-color: #175ba9;
}

.relative{
    position: relative;
}

