#header{

    backdrop-filter:saturate(200%) blur(3px);
}

.blogname{
    letter-spacing: 0.3px;
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
    position: fixed;
    left: calc(50% - 150px);
    width: 300px;
    text-align: center;
}

.custom-category{
    text-align: left;
    text-indent: 10px;
    color: #175ba9;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
}

.custom-blog-title{
    padding-top: 31px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.custom-mainSetting{
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    background-color: #fcfbfb;
    width: 100px;
    height: auto;
    position: absolute;
    top:50px;
    left: 90px;

}

.custom-mainSetting-list > li{
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}
.custom-mainSetting-list > li > button{
    font-size: 12px;
    color: #4d4c4c;
}
.custom-mainSetting-list > li > a > button:hover {
    color: #4d4c4c;
    font-size: 13px;
    font-weight: 900;
}
.custom-categoryMenu{
    padding: 5px 10px;
    border: 1px solid #175ba9;
    background-color: #fcfbfb;
    width: 137px;
    height: auto;
    position: absolute;
    top:70px;
    right: 30px;

}

.custom-categoryMenu-list > li{
    font-weight: 700;
    color: #4d4c4c;
    margin-bottom: 10px;
    margin-top: 10px;
}
.custom-categoryMenu-list > li > a > button{
    font-size: 13px;
    color: #175ba9;
}
.custom-categoryMenu-list > li > a > button:hover {
    color: #175ba9;
    font-size: 14px;
    font-weight: 900;
}

.coustom-search-inputOut{
    position: fixed;
    right: 210px;
}
.coustom-search-inputIn{
    position: fixed;
    right: 210px;
    width: 220px;
}
.custom-category-button{
    position: fixed;
    right: 30px;
}
.magnifier{
    position: absolute;
    right: 15px;
    top: 15px;
}
.custom-search-input{

    width: 180px;
    margin: 0;
    margin-top: 3px;
    border: none;
    outline: none;
    text-indent: 5px;
    background-color: #f5f5f5;
    height: 24px;
    border-radius: 10px;
}
.custom-login-title{
    text-align: center;
    font-size: 25px;
    margin-top: 300px;
    margin-bottom: 50px;
}
.custom-loginfrm{
    position: relative;
    width: 258px;
    margin: 0 auto;
}
.custom-login-input{
    display: block;
    text-indent: 10px;
    width: 250px;
    height: 35px;
    margin: 0 auto;
    margin-top: 25px;
}
.custom-login-btn{
    color: whitesmoke;
    width: 258px;
    height: 46px;
    margin: 0 auto;
    background-color: #175ba9;
    border-radius: 4px;
}

.custom-loginfrm-arrowbtn{
    display: block;
    margin-top: 20px;
    float: right;
    color: #4d4c4c;
    font-size: 13px;
}
.custom-msg{
    color: #e00f0f;
    margin-left: 5px;
    margin-top: 15px;
}
.custom-loginfrm-errMng{
    position: absolute;
    font-size: 13px;
    top: 129px;
    left: 5px;
    color: #9d2020;
}
.custom-loginfrm-errMng-pass{
    top: 261px;
}
.custom-loginfrm-errMng-pass2{
    top: 327px;
}
.custom-loginfrm-arrow{
    margin-right: 10px;
}
.custom-nav-git-in{
    position: absolute;
    top:3px;
    left: -60px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: none;
}
.custom-nav-git-out{
    position: absolute;
    top:3px;
    left: -60px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: none;
}
.custom-checker{
    font-size: 20px;
    position: absolute;
    left: -30px;
}
.custom-checker:first-child{
    top: 100px;
}
.custom-loginfrm-errMng + .custom-checker{
    top: 230px;
}
.custom-loginfrm-errMng-pass + .custom-checker{
    top: 297px;
}

.custom-pass{
    color: green;
}
.custom-notallowed{
    color: darkred;
}